@model List<SportBoard.Data.DAL.UserNotification>
@{
    ViewBag.Title = "Index";
}

<h2>Inbox</h2>
<div class="col-md-12">
    <div id="filterOptions">
        <ul class="nav nav-tabs">
            <li role="presentation" class="feeds"><a href="#">All</a></li>
            <li role="presentation" class="Posts"><a href="#">Post</a></li>
            <li role="presentation" class="comments"><a href="#">Comments</a></li>
            <li role="presentation" class="all active"><a href="#">Deletion Request</a></li>
        </ul>
    </div>
</div>

<div class="col-md-12">
    @foreach(var notification in Model)
    {
        <div class="col-md-12 notificationContainer">
            <p>@User.Identity.Name</p>
            <p><a href="@Url.Action("Details", "Feed", new { id = notification.FeedId })">@notification.FeedId</a></p>
            <p>@notification.Message</p>
            <p>@notification.NotificationType.ToString()</p>
        </div>
    }
</div>
