@model List<SportBoard.Data.DAL.Feed>
@{
    ViewBag.Title = "Home Page";
    ViewBag.DailySortParm = "daily";
    ViewBag.WeeklySortParm = "weekly";
    ViewBag.MonthlySortParm = "monthly";
}

<div class="jumbotron">
    <h1>SportBoard</h1>
    <p class="lead">SportBoard allows users with similar interests to post related photos and discuss, like and dislike these photos.</p>
</div>
<div class="col-md-12">
    <ul class="nav nav-tabs">
        <li role="presentation" class="today">@Html.ActionLink("Today", "Index", new { sortOrder = ViewBag.DailySortParm })</li>
        <li role="presentation" class="lastWeek">@Html.ActionLink("Last Week", "Index", new { sortOrder = ViewBag.WeeklySortParm })</li>
        <li role="presentation" class="lastMonth">@Html.ActionLink("Last Month", "Index", new { sortOrder = ViewBag.MonthlySortParm })</li>
    </ul>
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Sort
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li>@Html.ActionLink("Hot", "Index", new { sortOrder = ViewBag.TopSortParm })</li>
            <li>@Html.ActionLink("New", "Index", new { sortOrder = ViewBag.TopSortParm })</li>
            <li>@Html.ActionLink("Best", "Index", new { sortOrder = ViewBag.TopSortParm })</li>
        </ul>
    </div>
</div>
<div class="row">
    @foreach (var feed in Model)
    {
    <div class="card col-md-4">
        <a href="@Url.Action("Details", "Feed", new { id = feed.FeedId })">
            <img src="@Url.Content("~/Content/images/" + feed.Image.FileName + ".jpg")" alt"" />
        </a>
        <div class="container headerTitle">
            <h4><b>@feed.FeedName</b></h4>
        </div>
    </div>
    }
</div>

@section Styles{
    <style>
        .card {
            /* Add shadows to create the "card" effect */
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            padding: 10px 10px;
        }

            /* On mouse-over, add a deeper shadow */
            .card:hover {
                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
            }

        /* Add some padding inside the card container */
        .container .headerTitle{
            padding: 1px 16px;
            width: 100%;
        }

        .card img{
            width: 100%;
        }

        .container h4{
            text-align:center;
            text-transform:uppercase;
            font-weight: 700;
        }
    </style>    
}

@section Scripts {

    <script>
        $(document).ready(function () {
            var todaySort = $('today');
            var weeklySort = $('lastWeek');
            var monthlySort = $('lastMonth');

            if (@ViewBag.ActiveSort == 'daily') {
                todaySort.addClass('active');
                weeklySort.removeClass('active');
                monthlySort.removeClass('active');
            } else if (@ViewBag.ActiveSort == 'weekly') {
                weeklySort.addClass('active');
                todaySort.removeClass('active');
                monthlySort.removeClass('active');
            } else if (@ViewBag.ActiveSort == 'monthly') {
                monthlySort.adClass('active');
                todaySort.removeClass('active');
                monthlySort.removeClass('active');
            }
        });
    </script>    
}