@model SportBoard.Web.Models.ViewModels.PostCommentsCurrentUserViewModel
@{
    ViewBag.Title = "Details";
}

<h2>@Model.Post.PostThumbsUpUserIds.Count()<i class="fas fa-thumbs-up" id="mainUpvote"></i>@Model.Post.PostThumbsDownUserIds.Count()<i class="fas fa-thumbs-down" id="mainDownvote"></i></h2>
<div class="row">
    <div class="col-md-12">
        <div class="thumbnail">
            <img src="@Url.Content("~/Content/images/" + Model.Post.Image.FileName + ".jpg")" alt="...">
            <div class="caption">
                <h3>@Model.Post.Description</h3>
                <p><a href="@Url.Action("ThumbsUpPost", "Post", new { postId = Model.Post.PostId })" class="btn btn-primary" role="button"><i class="fas fa-thumbs-up fa-lg"></i></a> <a href="@Url.Action("ThumbsDownPost", "Post", new { postId = Model.Post.PostId })" class="btn btn-default" role="button"><i class="fas fa-thumbs-down fa-lg"></i></a></p>
                @if (User.IsInRole("Admin") || Model.Post.UserId == Model.CommentsCurrentUserVM.CurrentUser.Id)
                {
                     <a class="deletePost" href="@Url.Action("Delete","Post", new { id = Model.Post.PostId })"><i class="fas fa-trash-alt"></i></a>
                }
            </div>
        </div>
    </div>
</div>

<form id="form">
    <div class="row">
        <div class="input-group">
            <div class="col-md-12">
                <textarea rows="5" , cols="100" id="commentText" placeholder="Enter comment here . . ."></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Add Comment" class="btn btn-success" id="submit" />
            </div>
        </div>
    </div>
</form>
<hr />
@if (Model.CommentsCurrentUserVM.Comments.Count != 0)
{
    @Html.Partial("~/Views/Comment/PostComments.cshtml", Model.CommentsCurrentUserVM)
}
else
{
    <h4>There doesn't seem to be any comments on this post yet. How about you add one?</h4>
}


@section Styles{
    <style>
        .updownVoteBtns {
            float: right;
        }

        #upVoteBtn {
            margin-right: 3px;
        }

        #mainUpvote, #mainDownvote {
            margin-left: 5px;
            margin-right: 5px;
        }
    </style>

}

@section scripts{
    <script>

        $(document).ready(function () {

            $("#form").on("submit", function (e) {
                e.preventDefault()
                var formData = new FormData();
                var commentText = $("#commentText").val();
                var postId = @Model.Post.PostId;
                formData.append("commentText", commentText);
                formData.append("postId", postId);

                $.ajax({
                    type: "POST",
                    url: '/Comment/Create',
                    data: formData,
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        window.location.href = response.Url;
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert("Unknown error occured. Please try again!");
                    }
                });
            });
        });
    </script>
}