@model List<SportBoard.Data.DAL.DeletionRequest>
@{
    ViewBag.Title = "Requests";
}

<h2>Requests</h2>

<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Request Id")
            </th>
            <th>
                @Html.DisplayName("User Id")
            </th>
            <th>
                @Html.DisplayName("Feed Id")
            </th>
            <th>
                @Html.DisplayName("Reason for Deletion")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var request in Model)
        {
        <tr>
            <td>@request.RequestId</td>
            <td>@request.UserId</td>
            <td>@request.FeedId</td>
            <td>@request.ReasonForDeletion</td>
        </tr>
        }
    </tbody>
</table>

