@model List<SportBoard.Data.DAL.DeletionRequest>
@{
    ViewBag.Title = "Requests";
}

<h2>Requests</h2>

<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Request Id")
            </th>
            <th>
                @Html.DisplayName("Username")
            </th>
            <th>
                @Html.DisplayName("Feed name")
            </th>
            <th>
                @Html.DisplayName("Reason for Deletion")
            </th>
            <th>
                Accept Request?
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var request in Model)
        {
        <tr>
            <td>@request.RequestId</td>
            <td>@request.AspNetUsers.UserName</td>
            <td><a href="@Url.Action("Details", "Feed", new { id = request.FeedId })">@request.Feed.FeedName</a></td>
            <td>@request.ReasonForDeletion</td>
            <td><a class="acceptRequest" href="#">Yes</a> | <a href="#">No</a></td>
            @Html.Hidden("requestId", request.RequestId, new { Id = "requestId" })
        </tr>
            
        }
    </tbody>
</table>

@section scripts {
    <script>
        $(document).ready(function() {
            $('.acceptRequest').click(function () {
                var parentTableRow = $(this).parent().parent();
                var associatedInput = parentTableRow.children("input");
                var reason = prompt("Please give a response to deleting the feed", "");
                if (reason !== "") {
                    var requestId = associatedInput.val();
                    var decision = "Yes"
                    var formData = new FormData();
                    formData.append("reason", reason);
                    formData.append("decision", decision);
                    $.ajax({
                        type: "POST",
                        url: '/Admin/CloseRequest/' + requestId,
                        data: formData,
                        dataType: 'json',
                        contentType: false,
                        processData: false,
                        done: function (response) {
                            window.location.href = response.Url;
                        }
                    })
                }

                //var requestId = $('#requestId').value;
                //alert(requestId);
            });
        
        
        
        });
    </script>    
}