@model List<SportBoard.Data.DAL.DeletionRequest>
@{
    ViewBag.Title = "Requests";
}

<h2>Requests</h2>

<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Request Id")
            </th>
            <th>
                @Html.DisplayName("Username")
            </th>
            <th>
                @Html.DisplayName("Feed name")
            </th>
            <th>
                @Html.DisplayName("Reason for Deletion")
            </th>
            <th>
                Accept Request?
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var request in Model)
        {
        <tr>
            <td>@request.RequestId</td>
            <td>@request.AspNetUsers.UserName</td>
            <td><a href="@Url.Action("Details", "Feed", new { id = request.FeedId })">@request.Feed.FeedName</a></td>
            <td>@request.ReasonForDeletion</td>
            <td><a href="@Url.Action("Delete", "Feed", new { feedId = request.FeedId, requestId = request.RequestId })">Yes</a> | <a href="@Url.Action("CloseRequest", "Admin", new { id = request.RequestId })">No</a></td>
        </tr>
        }
    </tbody>
</table>

