@model SportBoard.Web.Models.ViewModels.FeedPostViewModel
@{
    ViewBag.Title = "Details";
}

<h2>@Model.Feed.FeedName</h2>
<div class="row">
    <div class="col-md-12" id="mainImageDiv">
        <img src="@Url.Content("~/Content/images/" + @Model.Feed.Image.FileName + ".jpg")" alt="Feed Image" id="mainImage" />
    </div>
</div>

<div class="row">
    @{ int i = 1;}
    @foreach (var post in Model.Posts)
    {
        <div class="card">
            <a href="@Url.Action("Details", "Post", new { id = post.PostId })">
                <img src="@Url.Content("~/Content/images/" + post.Image.FileName + ".jpg")" alt="Post Image" />
            </a>
            <div class="container">
                <p><b>@i : @post.Description</b></p>
                <a href="">
                    <i class="fas fa-thumbs-up fa-2x" style="padding-right:10px"></i>
                </a>
                <a href="">
                    <i class="fas fa-thumbs-down fa-2x"></i>
                </a>
            </div>
        </div>
        i++;
    }
</div>


<p><a class="btn btn-primary addPost" href="@Url.Action("Create","Post" , new { feedId = Model.Feed.FeedId })">Add Post to Feed &raquo;</a></p>
@section Styles{
    <style>
        #mainImageDiv {
            text-align: center;
        }

        div img {
            margin-bottom: 30px;
        }

        h2{
            text-align:center;
            text-transform:uppercase;
        }
        .card {
            /* Add shadows to create the "card" effect */
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            padding: 10px 10px;
        }

            /* On mouse-over, add a deeper shadow */
            .card:hover {
                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
            }

        /* Add some padding inside the card container */
        .container {
            padding: 2px 16px;
        }

        .card img {
            width: 100%;
        }

        .addPost{
            margin-top: 10px;
        }
    </style>    
}


@section scripts{
    <script>

        $(document).ready(function () {
            $("#form").on("submit", function (e) {
                e.preventDefault()
                var formData = new FormData();
                var totalFiles = document.getElementById("imageUploadForm").files.length;
                var textInput = $("#textInput").val();
                var feedId = @Model.Feed.FeedId;
                formData.append("textInput", textInput);
                formData.append("feedId", feedId);

                for (var i = 0; i < totalFiles; i++) {
                    var file = document.getElementById("imageUploadForm").files[i];
                    formData.append("imageUploadForm", file);
                }
                $.ajax({
                    type: "POST",
                    url: '/Post/Create',
                    data: formData,
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        window.location.href = response.Url;
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert("Unknown error occured. Please try again!");
                    }
                });
            });
        });
    </script>
}


