@model SportBoard.Web.Models.ViewModels.FeedPostViewModel
@{

    ViewBag.Title = "Details";
    ViewBag.HotSort = "hot";
    ViewBag.NewSort = "new";
    ViewBag.BestSort = "best";
    TempData["NewSort"] = "new";
    TempData["HotSort"] = "hot";
    TempData["BestSort"] = "best";
}

<h2>@Model.Feed.FeedName</h2>
<div class="row">
    <div class="col-md-12" id="mainImageDiv">
        <img src="@Url.Content("~/Content/images/" + @Model.Feed.Image.FileName + ".jpg")" alt="Feed Image" id="mainImage" />
    </div>
    <div class="col-md-12">
        <p><a class="btn btn-primary addPost" href="@Url.Action("Create","Post" , new { feedId = Model.Feed.FeedId })">Add Post to Feed &raquo;</a></p>
    </div>
</div>
@if (User.IsInRole("Admin") || Model.Feed.UserId == Model.CurrentUser.Id)
{
    <div class="row">
        <div class="col-md-12">
            <a class="deleteFeed" href="#"><i class="fas fa-trash-alt"></i></a>
        </div>
    </div>
}
<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span id="selected">Sort</span>
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li class="hot"><a href="#"><i class="fas fa-fire"></i>Hot</a></li>
        <li class="new"><a href="#"><i class="fab fa-earlybirds"></i>New</a></li>
        <li class="best"><a href="#"><i class="fas fa-certificate"></i>Best</a></li>
    </ul>
</div>

@if (Model.Posts.Count != 0)
{
    <div class="row postsView">
        @Html.Partial("~/Views/Post/Posts.cshtml", Model.Posts)
    </div>

}
else
{
    <h4>There doesn't seem to be any posts in this feed yet. How about you be the first contributor?</h4>
}



@section Styles{
    <style>
        #mainImageDiv {
            text-align: center;
        }

        div img {
            margin-bottom: 30px;
            width: 100%;
        }

        h2 {
            text-align: center;
            text-transform: uppercase;
        }

        div p {
            text-align: center;
        }

        .card {
            /* Add shadows to create the "card" effect */
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            padding: 10px 10px;
        }

            /* On mouse-over, add a deeper shadow */
            .card:hover {
                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
            }

        /* Add some padding inside the card container */
        .container {
            padding: 2px 16px;
        }

        .card img {
            width: 100%;
        }

        .addPost {
            margin-top: 10px;
        }
    </style>
}


@section scripts{
    <script>

        $(document).ready(function () {
            $("#form").on("submit", function (e) {
                e.preventDefault()
                var formData = new FormData();
                var totalFiles = document.getElementById("imageUploadForm").files.length;
                var textInput = $("#textInput").val();
                var feedId = @Model.Feed.FeedId;
                formData.append("textInput", textInput);
                formData.append("feedId", feedId);

                for (var i = 0; i < totalFiles; i++) {
                    var file = document.getElementById("imageUploadForm").files[i];
                    formData.append("imageUploadForm", file);
                }
                $.ajax({
                    type: "POST",
                    url: '/Post/Create',
                    data: formData,
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        window.location.href = response.Url;
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert("Unknown error occured. Please try again!");
                    }
                });
            });

            $('.deleteFeed').click(function () {
            var reason = prompt("Please give a reason why you want to delete this feed..", "");
            if (reason !== "") {
                var formData1 = new FormData();
                formData1.append("reason", reason);
                $.ajax({
                    type: "POST",
                    url: '/Feed/DeleteFeedRequest/' + @Model.Feed.FeedId,
                    data: formData1,
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    done: function (response) {
                        alert("Success!");
                        window.location.href = response.Url;
                    },
                    error: function () {
                        alert("Failure!");
                        alert("Unknown error occured. Please try again!");
                    }
                });
            }
            else {
                alert("You did not specify a reason, please try again.");
            }
        });
        });

        $('.dropdown-menu a').click(function () {
            var logo = $(this).find('i')[0];
            console.log(logo);

            $('#selected').text($(this).text());
        });

        

        $('.hot').click(function () {

            $.ajax({
                url: '@Url.Action("SortPostOrder", "Post", new {@feedId = Model.Feed.FeedId, @sortOrder = TempData["HotSort"] })',
                type: "GET",
                dataType: "html",
                success: function (data) {
                    $('.postsView').html(data);
                }
            })
        });

        $('.new').click(function () {

            $.ajax({
                url: '@Url.Action("SortPostOrder", "Post", new {@feedId = Model.Feed.FeedId, @sortOrder = TempData["NewSort"] })',
                type: "GET",
                dataType: "html",
                success: function (data) {
                    $('.postsView').html(data);
                }
            })
        });

        $('.best').click(function () {

            $.ajax({
                url: '@Url.Action("SortPostOrder", "Post", new {@feedId = Model.Feed.FeedId, @sortOrder = TempData["BestSort"] })',
                type: "GET",
                dataType: "html",
                success: function (data) {
                    $('.postsView').html(data);
                }
            })
        });
    </script>
}


