@model SportBoard.Web.Models.ViewModels.FeedFilterSortOptionsVM
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>SportBoard</h1>
    <p class="lead">SportBoard allows users with similar interests to post related photos and discuss, like and dislike these photos.</p>
</div>
<div class="col-md-12">
@*@if (Model.SortOptions == SportBoard.Web.BLL.SortOptions.Best)
{
    <ul class="nav nav-tabs">
        <li role="presentation" class="today active"><a href="#">Today</a></li>
        <li role="presentation" class="lastWeek"><a href="#">Last Week</a></li>
        <li role="presentation" class="lastMonth"><a href="#">Last Month</a></li>
    </ul>
}*@
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span id="selected">Sort</span>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li class="hot"><a href="#"><i class="fas fa-fire"></i>Hot</a></li>
            <li class="new"><a href="#"><i class="fab fa-earlybirds"></i>New</a></li>
            <li class="best"><a href="#"><i class="fas fa-certificate"></i>Best</a></li>
        </ul>
    </div>
</div>
@Html.HiddenFor(m => m.FilterOptions)
<div class="row feedView">
    @Html.Partial("Feeds", Model.Feeds)
</div>

@section Styles{
    <style>
        .card {
            /* Add shadows to create the "card" effect */
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            padding: 10px 10px;
        }

            /* On mouse-over, add a deeper shadow */
            .card:hover {
                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
            }

        /* Add some padding inside the card container */
        .container .headerTitle {
            padding: 1px 16px;
            width: 100%;
        }

        .card img {
            width: 100%;
        }

        .container h4 {
            text-align: center;
            text-transform: uppercase;
            font-weight: 700;
        }
    </style>
}

@section Scripts {

    <script>
        var todaySort = $('.today');
        var weeklySort = $('.lastWeek');
        var monthlySort = $('.lastMonth');

        function updateFilterOption(filterOption) {
            document.getElementById('FilterOptions').value = filterOption;
        }

        $('.today').click(function () {
            weeklySort.removeClass('active');
            monthlySort.removeClass('active');
            todaySort.addClass('active');

            $.ajax({
                url: '@Url.Action("SortFilterFeeds", "Feed", new { filterNum = 0 , sortNum = 1})',
                type: "GET",
                dataType: "html",
                success: function (data) {
                    updateFilterOption(0);
                    $('.feedView').html(data);
                }
            })
        });

        $('.lastWeek').click(function () {
            todaySort.removeClass('active');
            monthlySort.removeClass('active');
            weeklySort.addClass('active');
            updateFilterOption(1);

            $.ajax({
                url: '@Url.Action("SortFilterFeeds", "Feed", new { filterNum = 1 , sortNum = 1})',
                type: "GET",
                dataType: "html",
                success: function (data) {
                    $('.feedView').html(data);
                }
            })
        });

        $('.lastMonth').click(function () {
            todaySort.removeClass('active');
            weeklySort.removeClass('active');
            monthlySort.addClass('active');
            updateFilterOption(2);

            $.ajax({
                url: '@Url.Action("SortFilterFeeds", "Feed", new { filterNum = 2 , sortNum = 1})',
                type: "GET",
                dataType: "html",
                success: function (data) {
                    $('.feedView').html(data);
                }
            })
        });

        $('.dropdown-menu a').click(function () {
            var logo = $(this).find('i')[0];
            console.log(logo);

            $('#selected').text($(this).text());
        });

        $('.hot').click(function () {

            $.ajax({
                url: '@Url.Action("SortFeeds", "Feed", new {sortNum = 2})',
                type: "GET",
                dataType: "html",
                success: function (data) {
                    $('.feedView').html(data);
                }
            })
        });

        $('.new').click(function () {

            $.ajax({
                url: '@Url.Action("SortFeeds", "Feed", new {sortNum = 0})',
                type: "GET",
                dataType: "html",
                success: function (data) {
                    $('.feedView').html(data);
                }
            })
        });

        $('.best').click(function () {

            $.ajax({
                url: '@Url.Action("SortFilterFeeds", "Feed", new {filterNum = 1, sortNum = 1 })',
                type: "GET",
                dataType: "html",
                success: function (data) {
                    $('.feedView').html(data);
                }
            })
        });

    </script>
}